@mixin custom-steps($bg-color, $step-color, $text-color) {
    background-color: $bg-color !important;

    &>span {
        color: $text-color !important;
    }

    +div {
        span {
            margin-top: 8px;
            color: $step-color !important;
        }
    }
}

.stepper {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .custom_stepper {
        user-select: none;
        padding: 0;

        button:hover {
            background-color: #eff0f6;
            cursor: default;
        }

        .custom_steps {
            cursor: default;

            &.upcoming {
                @include custom-steps(#eff0f6, #6f6c90, #6f6c90);
            }

            &.completed {
                @include custom-steps(#0382c8, #0382c8, #ffffff);
            }

            &.current {
                @include custom-steps(#ffbd13, #ffbd13, #ffffff);
            }
        }
    }
}