.endorsement_cards {
 .e_card {
  .alter_card {
   min-height: 100px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
   border-radius: 7px;

   .content_label {
    white-space: nowrap;
    color: #606c80;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
   }

   .content_value {
    color: #27282a;
    font-size: 13px;
    line-height: 13px;
    font-weight: 600;
    // margin-left: 10px;

    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }

   .header {
    border-radius: 7px 7px 0 0;
    background-color: #0382c8;
    padding: 3px 10px;

    .title_style {
     color: #ffffff;
     font-weight: 600;
     font-size: 13px;
     line-height: 20px;
    }
   }

   .e_content {
    padding: 0 10px;
   }

   .e_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .status_item {
     .content_label {
      text-align: center;
     }

     .content_value {
      text-align: center;
      margin-top: 4px;
     }
    }
   }
  }
 }
}
