@import '../variable';

.leftWrapper {
 background: linear-gradient(to bottom, #05abaa, #098bcf);
}

.title-font {
 color: $form-fields-bg-color;
 font-family: 'Poppins', sans-serif;
 font-weight: 600;
 font-size: 20px;
 font-style: normal;
 margin-bottom: 15px;
}

.password-field {
 position: relative;
 display: inline-block;
 width: 100%;

 input {
  padding-right: 2.5rem;
 }

 button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $password-eye-color;
 }
}
.forgetPasswordText {
 color: $password-eye-color;
 font-size: 13px;
 cursor: pointer;
 &:hover {
  font-weight: 400;
  color: #2021a6;
  text-decoration: underline;
 }
}

.combinedFields {
 width: 450px;
 display: flex;
 gap: 14px;
 flex-wrap: nowrap;
}

.gradient-button {
 width: 35%;
 border: 2px solid red;
 background: linear-gradient(to right, #098bcf, #05abaa) !important;
 color: white;
 font-weight: 400;
 padding: 0.8rem 1rem;
 border: none;
 border-radius: 0.25rem;
 cursor: pointer;
 transition: background-color 0.3s ease;
 border-radius: 0.5rem;
}

.gradient-button:hover {
 background: linear-gradient(to right, #098bcf, #05abaa);
}

.fields-center {
 width: 100%;
 display: flex;
 height: 100%;
 justify-content: center;
 align-items: center;
}
.leftWrapper {
 .logo-resize-login {
  width: 22%;
  height: 15%;
  margin-left: 15%;
  margin-top: 12%;
 }
 .content-login-grid {
  margin-top: 17%;
  margin-left: 15%;
  & p {
   color: white;
   font-weight: 600;
   font-size: 40px;
   line-height: 50px;
  }
 }
}
