.MRV_card,
.MRV_card_Coverage {
 width: 98%;
 margin: 0 auto;
 max-height: 400px;
 //overflow-y: auto;
 //padding: 10px;

 &.MRV_card--flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 &.MRV_card--slide {
  max-height: 350px;
  min-height: 0px;
  overflow-y: hidden;
 }

 .mrv_title_name {
  color: #ffffff;
  margin-left: 10px;
  font-size: 15px;
 }

 .list_card,
 .list_card_highlighted_row {
  user-select: none;
  padding: 0px 0px 10px 0px;
  //   padding: 0px 0px 0px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 97%;
  //   min-width: 97%;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  .mrv_list {
   .key_font,
   .value_font {
    color: #000000;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
   }
   .value_font {
    font-weight: 400;
   }
  }
  .mrv_icons {
   cursor: pointer;
   color: #ffffff;
  }
  .delete_mrv_row:hover {
   color: red;
  }
 }
 .list_card_highlighted_row {
  background-color: #c3e6f9;
 }
 .list_card {
  background-color: #ffffff;
 }
 .action_header {
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
  padding: 1px;
  background-color: #0382c8;

  .mrv_checkbox {
   input[type='checkbox'] {
    display: none;
   }

   input[type='checkbox'] + label {
    margin-top: 7px;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 4px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
   }

   input[type='checkbox'] + label::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 9px;
    border: solid #0382c8;
    border-width: 0 1.9px 1.9px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: rotate(45deg);
   }

   input[type='checkbox']:checked + label::after {
    opacity: 1;
   }
  }

  .count_style {
   color: #ffffff;
   font-size: 14px;
   font-weight: 500;
  }
 }
 .card_action_buttons {
  margin-top: 7px;
  border: 1px solid #0382c8;
  padding: 3px 6px 3px 6px;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {
   padding: 3px 10px;
   border-radius: 3px;
   //    width: 24%;
   color: #ffffff;
   font-size: 12px;
   background-color: #0382c8;
   display: flex;
   justify-content: center;
   align-items: center;
   img {
    width: 17px;
    height: 17px;
   }
  }
  .is_medical {
   user-select: none;
   cursor: not-allowed;
  }
 }
}
