@import '../variable';

%label-style {
 color: #4d5e80;
 font-size: 14px;
 font-weight: 600;
 line-height: 20px;
}

%label-value-style {
 color: #4d5e80;
 font-size: 15px;
 line-height: 20px;
}

.personal-values {
 border: 1px solid #c6c2de;
 border-radius: 8px;
 > p:first-child {
  color: #4d5e80;
  font-weight: 700;
 }
 .details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
 }
 .label-style {
  @extend %label-value-style;
  font-weight: 600;
 }
 .value-style {
  @extend %label-value-style;
  font-family: Montserrat;
  font-weight: 400;
 }
}
