@import '../../styles/variable';

.quotation {
 .stepper {
  height: 50px;
 }
 .main-screen {
  min-height: 75vh;
  max-height: 75vh;
  overflow-y: auto;

  .front-form {
   padding: 0px 0 0 0px;
   background-color: #ffffff;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
   .propasal-entry-form {
    padding: 5px;
    .header-font {
     color: #4d5e80;
     font-size: 17px;
     line-height: 30px;
     font-weight: 700;
    }
    .freeze-font {
     color: #272e3b;
     font-size: 13px;
     font-weight: 400;
    }
   }
   .form-name {
    p {
     margin-top: 5px;
     padding-left: 10px;
     color: #4d5e80;
     font-size: 15px;
     font-weight: 700;
     line-height: 30px;
    }
   }
  }
  .action-buttons {
   Button {
    background-color: $save-button-forms;
    color: #ffffff;
    font-size: 12px;
    height: 29px;
    width: 72%;
    margin-bottom: 5px;
   }
  }
 }
 .inline-table-details {
  // border: 1px solid red;
 }
}
// .submit-button-MRV {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  .save,
//  .reset {
//   width: 15%;
//   padding: 7px 10px 7px 10px;
//   font-size: 14px;
//   font-weight: 500;
//   line-height: 20px;
//   border-radius: 6px;
//  }
//  .save {
//   background-color: $save-button-forms;
//   color: #ffffff;
//  }
//  .reset {
//   border: 1px solid $save-button-forms;
//   color: $save-button-forms;
//  }
// }
.broker_agent {
 //  border: 1px solid red;
 .header {
  p {
   color: #4d5e80;
   font-weight: 700;
   font-size: 17px;
   line-height: 30px;
  }
  button {
   //  margin-left: 100px;
   color: #ffffff;
   background-color: #0382c8;
  }
 }
 .agent_form {
  // border: 1px solid black;
 }
 .agent_commission {
  border-left: 1px solid #c6c2de;
  display: flex;
  align-items: center;
  justify-content: center;
  .commission_table {
   //  border: 1px solid red;
   background-color: #f9fafb;
   width: 90%;
   height: 80%;

   .commission_header {
    color: #4d5e80;
    font-size: 14px;
    line-height: 30px;
    p {
     font-weight: 700;
    }
    span {
     font-weight: 400;
    }
   }
   .main_table {
    .comm_table {
     width: 100%;
     table-layout: fixed;
     th,
     td {
      padding: 10px;
      // border: 1px solid #ddd;
     }
     td {
      text-align: center;
      line-height: 20px;
      font-weight: 400;
     }
     th {
      line-height: 30px;
      font-weight: 700;
     }
     th,
     td {
      color: #4d5e80;
      font-size: 14px;
     }
    }
   }
  }
 }
}
