@mixin status-style($bg-color, $text-color, $before-bg-color) {
 background-color: $bg-color;
 color: $text-color;

 &::before {
  background-color: $before-bg-color;
 }
}

.status_notify {
 margin-left: 10px;
 font-weight: 600;
 font-size: 13px;
 display: inline-block;
 padding: 3px 15px;
 border-radius: 20px;
 position: relative;

 &::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
 }
}
.approved {
 @include status-style(#ecfdf3, #037847, #14ba6d);
}

.pending {
 @include status-style(#f2f4f7, #6c778b, #6c778b);
}

.partial {
 @include status-style(#fffbe6, #ffc53d, #ffc53d);
}
