.full-screen-modal .ant-modal-content {
 padding: 0;

 .status_modal {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left center;

  .circle-icon-container {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
  }

  .success {
   border: 10px solid #2bde27;
  }

  .failure {
   border: 10px solid #f6516f;
  }

  .icon {
   width: 30%;
   height: auto;
  }
  .status_message {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;

   p {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
   }

   .btn_status {
    margin-top: 20px;
    color: #ffffff;
    width: 50%;
   }
   .success_btn {
    background-color: #2bde27;
   }
   .failure_btn {
    background-color: #f6516f;
   }
  }
 }
}
