@import '../../styles/variable';

.stepper-container {
 display: flex;
 flex-direction: column;

 .step-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
 }

 li {
  margin: 3px;
  width: 100%;
 }
 .current-stepper {
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;

  .divider-progress {
   border: 2px solid $password-eye-color;
   width: 100%;
  }
  .active-progress {
   border: 2px solid #f7ba1e;
  }
  .active {
   border: 2px solid $save-button-forms;
  }

  .all-completed {
   border: 2px solid #22A06B;
  }

  .step-name {
   cursor: pointer;
   position: absolute;
   top: 70%;
  }

  .step-name {
   p {
    user-select: none;
    font-size: 13px;
    color: #696969;
    font-weight: 600;
   }
  }
 }

 .inprogress,
 .todo,
 .disabled,
 .step-completed-progress {
  width: 15px;
  height: 15px;
  border: 5px solid $save-button-forms;
  border-radius: 50%;
 }

 .inprogress {
  border: 5px solid #f7ba1e;
 }
 .step-completed-progress {
  border: 5px solid #22A06B;
 }
 .todo,
 .disabled {
  border: 2px solid #a9a9a9;
 }
 .disabled {
  pointer-events: none;
 }
 .completed,
 .step-completed {
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
 }
 .completed {
  background-color: $save-button-forms;
 }
 .step-completed {
  background-color: #22A06B;
 }
 .completed::after,
 .step-completed::after {
  content: '';
  position: absolute;
  top: -5%;
  left: 20%;
  // transform: translate(-50%, -50%);
  width: 3px;
  height: 9px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  border-color: white;
  transform-origin: bottom left;
  transform: rotate(45deg);
 }
}
