@mixin custom-steps($bg-color, $step-color, $text-color) {
 background-color: $bg-color;
 & > span {
  color: $text-color;
 }
 + div {
  span {
   margin-top: 8px;
   color: $step-color;
  }
 }
}

.stepper {
 min-width: 100%;
 max-width: 100%;
 margin: 0 auto;
 .custom_stepper {
  user-select: none;
  padding: 0;
  button:hover {
   background-color: #eff0f6;
   cursor: default;
  }
  .custom_steps {
   @include custom-steps(#eff0f6, #6f6c90, #6f6c90);
   &.completed {
    @include custom-steps(#0382c8, #0382c8, #ffffff);
   }
   &.active {
    @include custom-steps(#ffbd13, #ffbd13, #ffffff);
   }
  }
 }
}
