.custom_media_upload {
 border-radius: 0.5rem;

 .upload_button {
  cursor: pointer;
  background-color: #0382c8;
  width: auto; // Change to auto to fit button text
  color: white;
  padding: 0.3rem 1rem; // Adjust padding as needed
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;

  &:hover {
   background-color: #02689a;
  }
 }

 .file_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.75rem;
  background-color: #f9f9f9;
  border-radius: 0.25rem;
  font-size: 0.875rem;

  .file_name {
   flex: 1;
   color: #333;
  }

  .file_actions {
   display: flex;
   align-items: center; // Align icons and button vertically
   gap: 0.5rem;

   .icon {
    font-size: 1.25rem;
    cursor: pointer;

    &.view_icon {
     color: #4caf50;
    }

    &.delete_icon {
     color: #f44336;
    }

    &:hover {
     opacity: 0.8;
    }
   }
  }
 }
}
