.quote_header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;

  .img_head {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_img {
      margin-left: 30px;
      padding-top: 4px;
      width: 63px;
      height: 59px;
    }

    .detail_content {
      p {
        color: #535862;
        font-size: 14px;
        font-weight: 600;

        span {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }

  .sub_header {
    background-color: #defff1;
    height: 20px;
  }
}