@import '../../styles/variable';
@import '../claims/Claims.scss';

.surrender-payment {
 //  border: 1px solid red;
 user-select: none;
 min-height: 88lvh;
 max-height: 88lvh;
 overflow-y: auto;
 .main-screen {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;

  .header-font {
   color: #4d5e80;
   font-size: 17px;
   line-height: 30px;
   font-weight: 700;
  }

  .status {
   margin-top: 10px;
   font-size: 15px;
   font-weight: 600;
   color: #4d5e80;
   span {
    color: #0015ff;
   }
  }
 }
 .process-button {
  padding: 7px 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  background-color: $save-button-forms;
  color: #ffffff;
 }
}
