@import '../../styles/components/react-slick-style.scss';
@import '../../styles/components/mrvStyleDue.scss';

@mixin font-style($color, $font-size, $font-weight, $letter-spacing) {
 color: $color;
 font-size: $font-size;
 font-weight: $font-weight;
 letter-spacing: $letter-spacing;
}

@mixin status-style($background-color, $color) {
 background-color: $background-color;
 color: $color;
}

%save-btn {
 background-color: #0382c8;
 color: #ffffff;
 width: 10%;
}

.receipt {
 padding: 15px;
 background-color: #ffffff;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
 min-height: 89lvh;
 max-height: 89lvh;
 border-radius: 8px;
 overflow: auto;

 .receipt_header {
  .header_align {
   display: grid;
   grid-template-columns: repeat(12, 1fr);

   .fields_container {
    grid-column: span 9;
    .title_header {
     color: #4d5e80;
     font-weight: 700;
     line-height: 30px;
     font-size: 20px;
    }
    .cap_fields {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     gap: 20px 50px;

     .field_label {
      color: #4d5e80;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 10px;
     }

     .fetch_btn {
      background-color: #0382c8;
      color: #ffffff;
      width: 35%;
     }
    }
   }
   .recipt_status {
    grid-column: span 3;
    .card_status {
     user-select: none;
     .main_card {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
      padding: 10px;
      background-color: #f0f0f0;
      min-height: 100px;
      border-radius: 20px;

      .label_font {
       @include font-style(#4d5e80, 16px, 600, 0px);
      }
      .val_font {
       @include font-style(#4d5e80, 16px, 500, 1px);
      }

      .status_notify {
       font-weight: 600;
       font-size: 13px;
       display: inline-block;
       padding: 3px 15px;
       border-radius: 8px;
       position: relative;

       &::before {
        content: '';
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
       }
      }
      .approved {
       @include status-style(#ecfdf3, #037847);
      }
      .pending {
       @include status-style(#fffdec, #f7ee12);
      }
      .rejected {
       @include status-style(#fdf4f7, #c1536e);
      }
     }
    }
   }
  }
 }
 .custom-divider {
  margin-top: 40px;
 }
 .dues_main_grid {
  background-color: #ffffff;
  min-height: 400px;
  max-height: 700px;
  .form-label {
   font-size: 14px;
   font-weight: 600;
   line-height: 20px;
   color: #4d5e80;
  }
  .form-value {
   border: 1px solid #d2d5da;
   background-color: #ffffff;
   padding: 5px 0px 5px 10px;
   border-radius: 8px;
   color: #4b5563;
   font-size: 12px;
   font-weight: 400;
  }
  .pay_title {
   color: #4d5e80;
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
  }
  .header_list_font {
   padding: 15px;
   //    border-bottom: 1px solid #6e6893;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #4d5e80;
  }

  .policy_list {
   min-height: 300px;
   max-height: 300px;
   overflow-y: auto;

   .list_policy_style {
    border-bottom: 0.4px solid #d9d9dc;
    padding: 15px 0;
    user-select: none;
    display: flex;
    // justify-content: flex-start;
    cursor: pointer;
    .list_style {
     font-weight: 500;
     color: #0382c8;
     font-size: 13px;
     line-height: 20px;
    }
   }
   .list_policy_style_active {
    background-color: #e5f6ff;
    position: relative;
    overflow-x: hidden;

    &::after {
     content: '';
     position: absolute;
     top: 50%;
     right: -10px;
     width: 15px;
     height: 15px;
     transform: translateY(-50%) rotate(45deg);
     background-color: #ffffff;
    }
   }
  }
  .selected_claim_highlight {
   .due_header {
    padding: 15px;
    border-bottom: 1px solid #6e6893;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    .head-container {
     display: flex;
     align-items: center;
     gap: 7px;
     .header_label {
      color: #4d5e80;
      font-size: 13px;
      font-weight: 600;
      line-height: 0px;
     }
     .printer_icon {
      font-size: 16px;
      color: #4d5e80;
     }
    }
   }
   .due_details {
    padding: 10px;
    background-color: #e5f6ff;
    min-height: 400px;
    max-height: 700px;

    .header {
     //  border: 1px solid red;
     display: flex;
     align-items: center;
     justify-content: space-between;

     .due_count {
      color: #4d5e80;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      span {
       font-size: 14px;
       font-weight: 500;
       margin-left: 10px;
       background-color: #92f5c4;
       color: #14804a;
       padding: 2px 8px 3px 8px;
       border-radius: 7px;
      }
     }
     .save-btn {
      @extend %save-btn;
     }
    }

    .due_content {
     margin-top: 15px;

     .due_info {
      margin-top: 30px;
      .info_title {
       color: #4d5e80;
       font-weight: 700;
       font-size: 15px;
      }
     }
    }
   }
  }
  .pay_details {
   //border: 3px solid red;
   border-top: 1px solid #d2d5da;
   min-height: 400px;
   .mrv_col {
    min-height: 400px;
    background-color: #f3f4f5;
   }
  }

  .submit_section {
   .submit_btn {
    @extend %save-btn;
   }
  }
 }
 .sub_btn {
  @extend %save-btn;
  margin-top: 30px;
  border-radius: 8px;
  padding: 4px 10px;
  width: 15%;
 }
}
