.re_insrance {
 padding: 5px 10px 10px 10px;
 min-height: 88vh;
 background-color: #ffffff;
 border-radius: 8px;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);

 .in_header {
  padding: 10px;
  min-height: 20%;
  border: 1px solid #e5f6ff;
  background-color: #f6fcff;
  border-radius: 8px;

  .title {
   > p {
    color: #4d5e80;
    font-size: 16px;
    font-weight: 700;
    > span {
     margin-left: 10px;
     color: #000000;
     font-weight: 400;
    }
   }
   button {
    background-color: #0382c8;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 6%;
   }
  }
 }
}
