.Quote_product_listing {
    .product_listing {
        .breadcrumb-title {
            cursor: pointer;
            font-weight: 600;
            color: #888888;

            &:hover {
                text-decoration: underline;
            }
        }

        .highlight {
            color: #0382c8;
        }
    }

    .product_listing_empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }
}