@import '../../styles/variable';
@import '../../styles//components/Quotation.scss';

.claims {
 //  border: 1px solid red;
 .checklist {
  .text-search {
   margin-left: 5px;
   width: 25%;
  }
  .filter-button {
   background-color: #ffffff;
   color: #25213b;
   border: 1px solid #c6c2de;
   i {
    color: #4d5e80;
   }
  }

  .table-divider {
   opacity: 0.2;
   border: 1px solid #0382c8;
  }

  .table-header-checklist {
   color: #667085;
   font-weight: 600;
   font-size: 16px;
  }
 }
}
