.custom_tabs {
 font-family: Arial, sans-serif;

 .tab-list {
  display: flex;
  border-bottom: 1px solid #ccc;
  background-color: #f6fcff;
 }

 .tab {
  padding: 6px 20px;
  color: #6e6893;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
 }

 .tab.active {
  border-bottom: 2px solid #25213b;
  color: #25213b;
  border-radius: 10px 10px 0 0;
  background-color: #e5f6ff;
 }

 .tab.crossed {
  color: #0382C8;
 }

 .tab-content {
  padding: 5px 10px;
  background-color: #e5f6ff;
  min-height: 300px;
 }
}
