@mixin hader-style($color, $font-size, $font-weight) {
 color: $color;
 font-size: $font-size;
 font-weight: $font-weight;
}

.GL_List {
 padding: 10px 10px 0px 10px;
 background-color: #f6fcff;
 border-radius: 8px;
 min-height: 88lvh;
 max-height: 88lvh;
 overflow-y: auto;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);

 .table_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > p:nth-child(1) {
   @include hader-style(#4d5e80, 20px, 700);
  }

  > p:nth-child(2) {
   @include hader-style(#4d5e80, 16px, 500);
   > span {
    @include hader-style(#0382c8, 16px, 600);
   }
  }
 }
 .main_divider {
  margin-top: 10px;
  border: 1px solid #c6c2de;
 }
}
