.signature-pad-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .signature-pad-title {
        margin-bottom: 10px;
    }

    .signature-pad-tools {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;

        div {
            display: flex;
            gap: 10px;
        }

        .edit-disabled {
            opacity: 0.5;
            cursor: pointer;

        }

        .edit-selected {
            opacity: 1;
            cursor: not-allowed;
            border: 1px solid #007bff;

            .anticon {
                color: #007bff;
            }
        }
    }

    .signature-pad-canvas-container {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        background-color: #ffffff;

        .signature-pad-canvas {
            touch-action: none;

            &.pen-cursor {
                cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M17.6 3.6c-.4-.4-.9-.6-1.4-.6-.6 0-1 .2-1.4.6l-10 10c-.2.2-.3.4-.3.7l-1 5c-.1.4.1.8.3 1.1.3.3.7.4 1.1.3l5-1c.3-.1.5-.2.7-.3l10-10c.4-.4.6-.9.6-1.4s-.2-1-.6-1.4l-3-3zm-1.7 2.4l2.3 2.3-9 9-.7.1-2.8.6.6-2.8.1-.7 9-9z' fill='%23333'/%3E%3C/svg%3E") 1 22, auto;
            }

            &.eraser-cursor {
                cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M16.24 3.56l4.95 4.94c.78.79.78 2.05 0 2.84L12 20.53a4.008 4.008 0 01-5.66 0L2.81 17c-.78-.79-.78-2.05 0-2.84l10.6-10.6c.79-.78 2.05-.78 2.83 0zm-1.42 1.42L4.22 15.58c-.78.78-.78 2.05 0 2.83l3.54 3.53c.78.78 2.05.78 2.83 0L20.37 12c.79-.78.79-2.05 0-2.83l-4.95-4.95a2 2 0 00-2.83 0z' fill='%23f5222d'/%3E%3C/svg%3E") 12 12, auto;
            }
        }
    }

    .signature-pad-actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .signature-pad-clear-btn {
            margin-right: 10px;
        }

        .signature-pad-submit-btn_disabled {
            background-color: #F7F8FB;
        }

        .signature-pad-submit-btn {
            background-color: #007bff;
        }
    }
}