.accordion {
  border: 1px solid #c6c2de;
  margin-bottom: 0;

  .accordion-header {
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
    padding: 7px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease, color 0.2s ease;

    .acc-title {
      font-size: 14px;
      line-height: 17px;
      color: #4d5e80;
      font-weight: 500;
      transition: transform 0.3s ease;
      transform-origin: left;
    }

    .icon_style {
      color: #8b83ba;
      transition: transform 0.3s ease;
    }
  }

  &.open {
    .accordion-header .acc-title {
      transform: scale(1.1);
    }

    .accordion-header .icon_style {
      transform: rotate(180deg);
    }
  }

  .accordion-content {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }

  .accordion-content-inner {
    padding: 10px;
  }
}

.accordion:not(:last-child) {
  border-bottom: none;
}