.confirmation_modal {
 //  border: 1px solid red;
 p {
  font-size: 14px;
  // font-weight: 600;
 }
 .confirmation_button {
  button {
   width: 50%;
  }
  button:first-child {
   color: white;
   font-weight: 600;
   background-color: #e11d48;
  }
  button:first-child:hover {
   color: white;
   background-color: red;
  }
 }
}

.modal_msg_delete {
 color: #4d5e80;
 font-weight: 700;
 font-size: 17px;
 line-height: 30px;
}
