.container {
 .list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
 }
}

.form-element {
 position: relative;
//  min-width: 105px;
//  min-width: 110px;

 input {
  display: none;
 }

 label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 31px;
  cursor: pointer;
  background: #f2f2f2;
  transition: all 200ms ease-in-out;
  border-radius: 25px;

  &:before {
   content: '✓';
   position: absolute;
   width: 18px;
   height: 18px;
   top: 50%;
   right: 10px;
   transform: translateY(-50%) scale(0.5);
   background: #0382c8;
   color: #fff;
   text-align: center;
   line-height: 17px;
   font-size: 10px;
   font-weight: 600;
   border-radius: 50%;
   opacity: 0;
   transition: all 200ms ease-in-out;
  }
 }

 .title {
  font-size: 12px;
  color: #646464;
  transition: all 200ms ease-in-out;
 }

 input:checked + label:before {
  opacity: 1;
  transform: translateY(-50%) scale(1);
 }

 input:checked + label {
  justify-content: flex-start;
  padding-left: 8px;

  .icon {
   color: #0382c8;
  }

  .title {
   color: #000000;
   font-weight: 500;
  }
 }
}
