.minimalist-table-container-assured {
 margin-top: 10px;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
 border-radius: 8px;

 .ant-table-expanded-row {
  .ant-table-cell {
   padding: 0;
   text-align: left;
  }
 }

 .ant-table-header {
  border-radius: 0px !important;
  table {
   background-color: #f4f2ff;
   border-radius: 0px !important;
  }
 }

 .action_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pop_up_btns {
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
   .action_item {
    position: relative;

    &:hover .custom-svg {
     background-color: #0382c8;
     fill: #ffffff;
     padding: 3px;
     border-radius: 5px;
     transform: scale(1.08); // Scale effect on hover
     transition: all 0.2s ease; // Smooth transition
     // transform: translateY(3px); // move down
    }

    &:hover .action_names {
     visibility: visible;
     opacity: 1;
     transition: opacity 0.1s ease; // Smooth fade-in effect
    }

    .custom-svg {
     cursor: pointer;
     height: 18px;
     width: 18px;
     fill: #0382c8;
     transition: all 0.1 ease;
    }

    .action_names {
     color: #000000;
     font-size: 7.5px;
     font-weight: 600;
     position: absolute;
     top: -11px;
     left: 50%;
     transform: translateX(-50%);
     visibility: hidden; // Hidden by default
     opacity: 0; // Invisible by default
     transition: opacity 0.2s ease, visibility 0s; // Transition for smooth appearance
    }
   }
  }
  .more_btn {
   .more-svg {
    cursor: pointer;
    height: 18px;
    width: 18px;
   }
  }
 }

 .ant-table {
  box-shadow: none;
  background-color: #ffffff;
 }

 .column_seletion {
  border-radius: 8px 8px 0 0;
  padding: 7px;
  background-color: #ffffff;

  .fil_btn {
   padding: 5px 10px;
   background-color: #ffffff;
   border: 1px solid #c6c2de;
   color: #25213b;
   font-size: 14px;
   font-weight: 400;

   .icon-style {
    color: #4d5e80;
   }

   &:hover {
    background-color: #ffffff;
    border: 1px solid #c6c2de;
    color: #25213b;
   }
  }

  .minimalist-search {
   background-color: #f4f2ff;
   margin-left: 10px;
   width: 100%;
   max-width: 400px;
  }
 }

 .ant-table-thead > tr > th {
  background-color: #f4f2ff;
  color: #4d5e80;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 8px;
 }

 .ant-table-tbody > tr > td {
  padding: 8px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #4d5e80;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s ease;
 }

 .minimalist-row-light {
  background-color: #ffffff;
 }

 .minimalist-row-dark {
  background-color: #fafafa;
 }

 .minimalist-row-light:hover,
 .minimalist-row-dark:hover {
  background-color: #f5f5f5;
 }

 //   .highlight {
 //    background-color: yellow;
 //    font-weight: bold;
 //   }

 .ant-pagination {
  padding-right: 10px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 6px 0;
  background-color: #f4f2ff;
  color: #4d5e80;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0 0 8px 8px;

  .ant-pagination-item,
  .ant-pagination-item-link {
   background-color: #f4f2ff;
   color: #ffffff;
   border: none;
  }

  .ant-pagination-item-active {
   background-color: #f4f2ff;
   color: red;
   font-weight: bold;
  }

  .ant-pagination-item-link-icon,
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
   color: #4d5e80;
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-link:hover {
   background-color: #f4f2ff;
   color: #ffffff;
  }
 }

 // Custom scroll bar for minimalist look
 .ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;

  &::-webkit-scrollbar {
   width: 3px;
  }

  &::-webkit-scrollbar-track {
   background-color: #e1e6e6;
  }

  &::-webkit-scrollbar-thumb {
   border-radius: 6px;
   background-color: #68bef3;
  }
 }
}
