@import '../../styles/variable';

.custom-header-tab {
 color: #7d8fb3;
 font-weight: 600;
 font-size: 13px;
}

.ant-tabs-nav {
 user-select: none;
 // padding: 7px 0 6px 0px;
 position: sticky !important;
 background-color: $tabs-head-bg !important;
 top: 8.5% !important;
 z-index: 1 !important;
 margin: 0.5px !important;

 .ant-tabs-nav-wrap {
  height: 36px;

  .ant-tabs-tab-active {
   .custom-header-tab {
    color: $tabs-active-font !important;
   }
  }
 }
}
