@import '../../styles/variable';
// @import '../../styles/components/Quotation.scss';
@import '../../components//modernTable/ModernTable.scss';

.modern_claim {
 .main-screen {
  min-height: 87vh;
  max-height: 87vh;
  overflow-y: auto;
  background-color: #fafafa;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
 }
 .selected_claim_highlight {
  // background-color: #e5f6ff;
 }
 .claim_header {
  background-color: #f6fcff;
  border-bottom: 1px solid #6e6893;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .claim_no {
   display: flex;
   align-items: center;
   p {
    font-size: 16px;
    line-height: 20px;
    &:first-child {
     color: #4d5e80;
     font-weight: 700;
    }
    &:nth-of-type(2) {
     color: #000000;
     font-weight: 400;
     padding-left: 10px;
    }
   }
  }
  .summary_header {
   height: 30px;
   display: flex;
   align-items: center;
   gap: 15px;

   .check_box_label,
   .check_box_label_select {
    user-select: none;
    // margin-right: 5px;
    font-size: 12px;
    font-weight: 600;
    color: #4d5e80;
    line-height: 20px;
   }
   .check_box_label_select {
    margin-right: 7px;
   }

   .reason_select_box {
    .ant-select-selector {
     display: flex;
     align-items: center;
     border-radius: 4px;
     background-color: #f3f3f8;
     width: 150px;
     //  height: 29px;
     text-align: center;
    }
   }
   .app_rej_btn {
    border: 1px solid #0382c8;
    background-color: #ffffff;
    font-weight: 600;
    color: #0382c8;
   }
  }
 }

 .ref_no,
 .ref_no_val {
  user-select: none;
  font-size: 15px;
  font-weight: 600;
  color: #4d5e80;
 }
 .ref_no_val {
  font-size: 14px;
  .status_notify {
   margin-left: 10px;
   font-weight: 600;
   font-size: 13px;
   display: inline-block;
   padding: 3px 15px;
   border-radius: 20px;
   position: relative;

   &::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
   }
  }
  .approved {
   background-color: #ecfdf3;
   color: #037847;
   &::before {
    background-color: #14ba6d;
   }
  }
  .pending {
   background-color: #f2f4f7;
   color: #6c778b;
   &::before {
    background-color: #6c778b;
   }
  }
  .partial {
   background-color: #fffbe6;
   color: #ffc53d;
   &::before {
    background-color: #ffc53d;
   }
  }
 }

 .key_value_form {
  background-color: #ffffff;
  user-select: none;
  border: 1.3px solid #d9d9dc;
  border-radius: 5px;
  width: 100%;

  & > p {
   padding: 5px 10px 5px 7px;
   color: #35353a;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
  }
 }

 .chip-label {
  color: #4d5e80;
  font-size: 14px;
  font-weight: 500;
 }
 .ok_button {
  background-color: #0382c8;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
 }
 .form-divide {
  padding: 0px;
  border: 0.7px solid #e5e7eb;
 }
 .process_button {
  color: #ffffff;
  background-color: #0382c8;
  padding: 4px 17px;
  border-radius: 6px;
 }
 .header-font {
  color: #4d5e80;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
 }
 .coverage_main_grid {
  // border: 1px solid red;
  background-color: #ffffff;
  //   border: 4px solid red;
  min-height: 400px;
  max-height: 700px;
  //   overflow-y: auto;
  .header_list_font {
   padding: 17px;
   border-bottom: 1px solid #6e6893;
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   color: #4d5e80;
  }

  .policy_list {
   min-height: 300px;
   max-height: 300px;
   overflow-y: auto;
   //    border-right: 1px solid #d9d9dc;

   .list_policy_style {
    border-bottom: 0.4px solid #d9d9dc;
    padding: 15px 0;
    user-select: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .list_style {
     font-weight: 500;
     color: #0382c8;
     font-size: 14px;
     line-height: 20px;
    }
   }
   .list_policy_style_active {
    background-color: #e5f6ff;
    position: relative;
    overflow-x: hidden;

    &::after {
     content: '';
     position: absolute;
     top: 50%;
     right: -10px;
     width: 15px;
     height: 15px;
     transform: translateY(-50%) rotate(45deg);
     background-color: #ffffff;
    }
   }
  }
 }

 .policy_details {
  //   border: 1px solid red;
  .policy_header_total {
   user-select: none;
   margin-top: 5px;
   margin-right: 5px;
   //    border: 1px solid red;
   .amount_field_curr {
    border: 1.3px solid #d9d9dc;
    border-radius: 5px;
    width: 65%;

    & > p {
     padding: 5px 10px 5px 7px;
     color: #35353a;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
    }
   }
   .pol_head_divider {
    margin-top: 5px;
    border: 1px solid #e5e7eb;
   }
   .estimate_cost_select {
    width: 68%;
   }
   .pol_actions_buttons {
    margin-top: 16px;
    button {
     width: 20%;
     color: #0382c8;
     border: 1px solid #0382c8;
     &:nth-of-type(1) {
      background-color: #0382c8;
      color: #ffffff;
     }
    }
   }
  }
 }
 .print_Setup {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .printer_icon {
   font-size: 21px;
   color: #2f80ed;
  }
  .printer_font {
   cursor: pointer;
   margin-right: 8px;
   color: #2f80ed;
   font-size: 13px;
   font-weight: 600;
   line-height: 20px;
  }
 }
 .border_left_divider {
  border-left: 1px solid #c6c2de;
 }
 .mrv_header {
  color: #4d5e80;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
 }
 .add-buttons {
  background-color: $save-button-forms;
  .icon-style {
   font-size: 16px;
  }
 }
 .MRV_card {
  max-height: 350px;
  min-height: 350px;
  overflow-y: auto;
  .list_card,
  .list_card_highlighted_row {
   user-select: none;
   padding: 0px 5px 5px 5px;
   margin-top: 5px;
   border-radius: 5px;
   .mrv_list {
    .key_font,
    .value_font {
     color: #000000;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
    }
    .value_font {
     font-weight: 300;
    }
   }
   .mrv_icons {
    cursor: pointer;

    &:hover {
     color: #2f80ed;
    }
   }
   .delete_mrv_row:hover {
    color: red;
   }
  }
  .list_card_highlighted_row {
   background-color: #0382c8;
   .key_font,
   .value_font {
    color: #ffffff !important;
   }
   .mrv_icons {
    &:hover {
     color: #ffffff;
    }
   }
   .delete_mrv_row:hover {
    color: red;
   }
  }
  .list_card {
   background-color: #ffffff;
  }
 }
 .price_breakup_bonus {
  .container {
   display: grid;
   grid-template-columns: 1fr 1px 1fr;

   .divider {
    background-color: #d9d9dc;
   }

   .left-half,
   .right-half {
    display: flex;
    flex-direction: column;
    padding: 3px;
    .breakup_title {
     color: #4d5e80;
     font-size: 12px;
     font-weight: 700;
    }
    .breakUpContent {
     margin-top: 15px;
     //  border: 1px solid red;
     width: 100%;
    }
    .content_header {
     color: #4d5e80;
     font-weight: 700;
     font-size: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
    .field_name_style {
     color: #4d5e80;
     font-weight: 600;
     font-size: 12px;
     line-height: 20px;
    }
    .field_val_style {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffffff;
     border: 1px solid #e5e7eb;
     border-radius: 8px;
     font-size: 14px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
     height: 30px;
    }
    .total_value {
     width: 30%;
     background-color: #ffffff;
     border: 1px solid #e5e7eb;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
     height: 30px;
    }
   }

   .left-half {
    .deduction_buttons {
     button {
      width: 20%;
      margin-right: 10px;
      &:nth-of-type(1) {
       background-color: #0382c8;
       color: #ffffff;
      }
      &:nth-of-type(2) {
       border: 1px solid #0382c8;
       color: #0382c8;
      }
     }
    }
    .total_intersect {
     user-select: none;
     font-size: 11px;
     color: #4d5e80;
     font-weight: 600;
    }
   }

   .right-half {
    .field_val_style_bonus {
     user-select: none;
     background-color: #ffffff;
     border: 1px solid #e5e7eb;
     border-radius: 8px;
     font-size: 14px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
     //  height: 30px;

     .bonus_key {
      color: #000000;
      font-family: 400;
      font-size: 12px;
      line-height: 20px;
     }
     .bonus_val {
      color: #000000;
      font-family: 300;
      font-size: 12px;
      line-height: 20px;
     }
    }
   }
  }
 }
 .re_insurance {
  //   border: 1px solid red;
  user-select: none;
  .ri_font {
   color: #4d5e80;
   font-size: 13px;
   line-height: 30px;
   font-weight: 700;
  }
  .ri_close_btn {
   min-width: 13%;
   background-color: #0382c8;
   color: #ffffff;
  }
  .claim_ri_table {
   width: 100%;
   max-width: 100%;
   //    table-layout: fixed;
   tbody {
    tr {
     &:hover {
      background-color: #fdfdff;
     }
    }
   }
   th,
   td {
    padding: 10px;
    text-align: center;
    border: 1px solid #b9b9b9;
    font-size: 12px;
    line-height: 15px;
   }
   th {
    color: #4d5e80;
    font-weight: 600;
   }
   td {
    color: #323232;
    line-height: 15px;
   }
  }
 }
 .key_name,
 .key_value {
  color: #4d5e80;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
 }
 .key_value {
  font-weight: 400;
 }

 .summary_form {
  .amount_field_curr {
   background-color: #ffffff;
   border: 1.3px solid #d9d9dc;
   border-radius: 5px;
   width: 65%;

   & > p {
    padding: 5px 10px 5px 7px;
    color: #35353a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
   }
  }
  .pro_btn {
   min-width: 10%;
   background-color: #0382c8;
   color: #ffffff;
  }
 }
 .cover_code_number {
  user-select: none;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
 }
 .claim_level_total {
  .amount_field_curr {
   border: 1.3px solid #d9d9dc;
   border-radius: 7px;
   background-color: #ffffff;
   width: 57%;

   & > p {
    padding: 5px 10px 5px 7px;
    color: #35353a;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
   }
  }
 }
 .claim_level_divider {
  border: 1px solid #c6c2de;
 }
}

.modern_checklist_claim {
 .text-search {
  margin-left: 5px;
  width: 25%;
 }
 .filter-button {
  background-color: #ffffff;
  color: #25213b;
  border: 1px solid #c6c2de;
  i {
   color: #4d5e80;
  }
  &:hover {
   i {
    color: #ffffff !important;
   }
  }
 }

 .table-divider {
  opacity: 0.2;
  border: 1px solid #0382c8;
 }

 .table-header-checklist {
  color: #667085;
  font-weight: 600;
  font-size: 16px;
 }
}

.approve_reject_modal {
 .app_rej_btn {
  background-color: #0382c8;
  color: #ffffff;
  //   padding: 5px;
  border-radius: 5px;
 }
}
