.doc_print {
//  border: 1px solid red;
//  min-height: 88vh;
//  max-height: 88vh;
//  overflow-y: auto;
 background-color: #ffffff;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);

 .template_header {
  color: #4d5e80;
  font-size: 20px;
  font-weight: 700;
 }
}
