.slider-container {
 user-select: none;
 display: flex;
 align-items: center;
 position: relative;
 width: 100%;
 overflow: hidden;
}

.slider-wrapper {
 margin: auto;
 overflow: hidden;
 width: 95%;
}

.slider-content {
 display: flex;
 transition: transform 0.5s ease-in-out;
}

.slider-item {
 flex: 0 0 calc(100% / 4);
 box-sizing: border-box;
 height: 40px;

 .item_label,
 .item_date {
  color: #4d5e80;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
 }
 .item_date {
  font-size: 10px;
 }

 .decision_arrow {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 img {
  width: 10px;
  height: 10px;
 }
}

.arrow {
 color: #4d5e80;
 padding: 10px;
 cursor: pointer;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 1;
 font-size: 20px;
}

.left-arrow {
 left: 0px;
}

.right-arrow {
 right: 0px;
}

.left-arrow-dis,
.right-arrow-dis {
 display: none;
}

.arrow:disabled {
 background: #cccccc;
 cursor: not-allowed;
}
