.status_table {
 user-select: none;
 overflow: auto;
 border-radius: 8px;
 border: 1px solid #c6c2de;
 .status_main_table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  border-collapse: collapse;
  th,
  td {
   padding: 7px;
   text-align: center;
  }
  td {
   border-bottom: 1px solid #c6c2de;
  }
  th {
   border-bottom: 1px solid #c6c2de;
   background-color: #fcfcfd;
   color: #667085;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
  }
  td {
   color: #667085;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
  }
  td {
   .status_notify {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 20px;
    position: relative;

    &::before {
     content: '';
     position: absolute;
     left: 6px;
     top: 50%;
     transform: translateY(-50%);
     width: 5px;
     height: 5px;
     border-radius: 50%;
    }
   }
   .approved {
    background-color: #ecfdf3;
    color: #037847;
    &::before {
     background-color: #14ba6d;
    }
   }
   .pending {
    background-color: #f2f4f7;
    color: #6c778b;
    &::before {
     background-color: #6c778b;
    }
   }
   .rejected {
    background-color: #fdf4f7;
    color: #c1536e;
    &::before {
     background-color: #eb5858;
    }
   }
  }
 }
 .upload-icons {
  color: #2f80ed;

  &:hover {
   cursor: pointer;
   text-decoration: underline;
   text-underline-offset: 3px;
  }
 }
 .table_lov {
  display: flex;
  align-items: center;
  justify-content: center;
 }
}
