@import './styles/main.scss';
@import './styles/variable';

.App {
    // min-height: 100%;
    // display: flex;
    // flex-direction: column;
}

.private_layout_main {
    margin-left: 3.8%;
    transition: margin-left 0.5s ease-in-out;
    padding: 10px 12px;
}

.header-content {
    position: sticky;
    top: 0px;
    z-index: 90;
    margin-left: 3.8%;
    transition: margin-left 0.5s ease-in-out;
}

.public_Quote_layout {
    margin-left: 0;
    padding: 0 0;
}