.pol-tag-display {
    margin-left: 20px;
    background-color: #e6f4ff;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 14px;
    color: #3f8fff;
    font-weight: 600;
    border: 1px solid #3f8fff;
   }