.transfer_box {
 position: relative;
 border: 1.5px solid #e5e7eb;
 border-radius: 8px;
 max-height: 250px;
 overflow: scroll;

 .all_check {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  z-index: 1;
 }

 .checkbox_val {
  font-size: 14px;
  font-weight: 400;
  color: #4d5e80;
 }
 .box_divider {
  height: 1px;
  background-color: red;
 }

 .mail_name {
  color: #4d5e80;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
 }
}

.message_col {
 padding: 5px;
 border: 1.5px solid #e5e7eb;
 border-radius: 8px;
 min-height: 250px;
 max-height: 250px;
 overflow: scroll;

 .key_values {
  user-select: none;
  cursor: pointer;
  color: #4d5e80;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
   background-color: #f3f3f8;
  }

  &:focus {
   outline: none;
  }

  &.focus-active {
   animation: fadeOut 3s forwards;
  }
 }

 @keyframes fadeOut {
  0% {
   background-color: #f3f3f8;
  }
  100% {
   background-color: transparent;
  }
 }
}

.custom-quill-editor .ql-container {
 border-radius: 0 0 8px 8px;
 max-height: 205px;
 min-height: 205px;
}

.custom-quill-editor .ql-toolbar {
 border-radius: 10px 10px 0 0;
}

.custom-quill-editor .ql-editor {
 border-radius: 0 0 10px 10px;
}
